/* Welcome Area css
============================================================================================ */
.welcome_inner .welcome_img {
    background: #eeeeee;
    margin-left: 40px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px; }
    .welcome_inner .welcome_img img {
      margin-top: -30px; }
  
  .welcome_text h4 {
    color: #222222;
    font-family: "Heebo", sans-serif;
    font-size: 36px;
    margin-bottom: 18px;
    text-transform: uppercase; }
  .welcome_text p {
    max-width: 495px;
    font-family: "Roboto", sans-serif;
    margin-bottom: 40px; }
  
  .wel_item {
    border: 1px solid #eeeeee;
    padding: 20px 20px;
    border-radius: 5px; }
    .wel_item i {
      font-size: 24px;
      background: linear-gradient(to right, #766dff 0%, #86e7ff 70%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent; }
    .wel_item h4 {
      font-size: 24px;
      font-family: "Heebo", sans-serif;
      font-weight: bold;
      color: #222222;
      margin-bottom: 5px;
      margin-top: 10px; }
    .wel_item p {
      font-size: 16px;
      font-family: "Roboto", sans-serif;
      color: #777777;
      margin-bottom: 0px; }
  
  .tools_expert {
    padding: 20px 0px 0px 0px; }
    .tools_expert .skill_main .skill_item {
      margin-bottom: 18px; }
      .tools_expert .skill_main .skill_item:last-child {
        margin-bottom: 0px; }
      .tools_expert .skill_main .skill_item h4 {
        text-align: none;
        font-size: 14px;
        font-family: "Roboto", sans-serif;
        font-weight: 500;
        color: #222222;
        margin-bottom: 15px; }
      .tools_expert .skill_main .skill_item .progress_br {
        border: 1px solid #eeeeee;
        padding: 5px;
        border-radius: 10px; }
      .tools_expert .skill_main .skill_item .progress {
        height: 10px;
        border-radius: 10px;
        background: #e8e8e8; }
        .tools_expert .skill_main .skill_item .progress .progress-bar {
          width: 0%;
          transition: width .6s ease;
          height: 10px;
          border-radius: 5px;
          vertical-align: middle;
          align-self: center;
          background-image: -moz-linear-gradient(0deg, #766dff 0%, #88f3ff 100%);
          background-image: -webkit-linear-gradient(0deg, #766dff 0%, #88f3ff 100%);
          background-image: -ms-linear-gradient(0deg, #766dff 0%, #88f3ff 100%); }
  
  /* End Welcome Area css
  ============================================================================================ */